<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @memory.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @memory.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @memory.date %>
</p>

<p>
  <strong>Image:</strong>
  <%= @memory.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @memory.content %>
</p>

<%= link_to 'Edit', edit_memory_path(@memory) %> |
<%= link_to 'Back', memory_path %>
