<% if user_signed_in? && memory.user_id != current_user.id %>
  <% if memory.likes_user(current_user.id) %>
    <li class="btn-floating halfway-fab waves-effect waves-light red">
      <%= link_to memory_like_path(memory, current_user.id, like), method: :delete, remote: true do %>
        <i class="material-icons">favorite_border</i>
      <% end %>
    </li>
    <p class="likes_count"> いいね！<%= memory.likes_count %> </p>
  <% else %>
    <div class="btn-floating halfway-fab waves-effect waves-light red">
      <%= link_to memory_likes_path(memory, current_user.id), method: :post, remote: true do %>
        <i class="material-icons">favorite_border</i>
      <% end %>
    </div>
    <p class="likes_count"> いいね！<%= memory.likes_count %> </p>
  <% end %>
<% else %>
  <li class="btn-floating halfway-fab waves-effect waves-light red">
    <%= link_to memory_path(memory) do %>
      <i class="material-icons">favorite_border</i>
    <% end %>
  </li>
  <p class="likes_count"> いいね！<%= memory.likes_count %> </p>
<% end %>
