<%= render 'memories/head-menu' %>
<div class="mypage-wrap">
  <div class="mypage-top">
    <div class="avatar">
      
    </div>
    <div class="user-info">
      <p><%= @user.name %></p>
      <p>投稿<%= @memory.count %>件 </p>
    </div>
  </div>
  <div class="memory-list">
    <div class="list-box">
      <% @memory.each do |memory| %>
        <div class="box-content">
          <%= link_to memory_path(memory.id), method: :GET do %>
            <%= image_tag memory.image.url %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>