<div class="memory-form">
  <div class="back-color">
    <%= form_with(model: memory, local: true) do |form| %>
      <% if memory.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

          <ul>
          <% memory.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :country %>
        <%= form.text_field :country %>
      </div>

      <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city %>
      </div>

      <div class="date-field">
        <%= form.label :date %>
        <%= form.date_select :date %>
      </div>

      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image, id: :memory_image %>
        <i class="fa fa-image fa-2x"></i>
      </div>

      <div class="field">
        <%= form.label :content %>
        <%= form.text_area :content %>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    <% end %>
  </div>
</div>
